---
type NavLink = {
  label: string;
  href: string;
  end?: boolean;
};

const links: NavLink[] = [
  {
    label: 'Home',
    href: '/',
    end: true,
  },
  {
    label: 'About',
    href: '/about',
    end: true,
  },
];

const pathname = new URL(Astro.request.url).pathname;
---

<nav class='h-16 w-full bg-green-500 text-white'>
  <div class='container mx-auto flex h-full flex-row items-center'>
    <h3 class='select-none text-3xl font-bold'>Biology Helper</h3>
    <div class='ml-4 flex select-none flex-row'>
      {
        links.map((link) => {
          const isActive = link.end
            ? pathname === link.href
            : pathname.startsWith(link.href);

          return (
            <a href={link.href} class='rounded-md py-2 px-3 hover:bg-green-600'>
              {link.label}
            </a>
          );
        })
      }
    </div>
  </div>
</nav>
